/* LOGIN PAGE */
.view-login{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.col-align-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
}
.login-right {
  width: 100%;
}
.justify-right {
  justify-content: center;
}
.login-container {
  width: 65%;
  max-width: 1080px;
}
.acb-logo img{
    width: 60px;
}
@media screen and (max-width:568px){
  .view-login .acb-logo{
    text-align: center !important;
  }
}
.view-login .banner{
  margin: 2vh 2vw;
}
.banner .banner-sm {
  display: none;
}
.banner-lg{
  display: block;
}
@media screen and (max-width:568px){
  .banner-sm{
    display: block !important;
  }
  .banner-lg{
    display: none;
  }
  .banner-nv img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .justify-center-sm{
    justify-content: center !important;
  }
} 
.banner-nv img{
  max-width: 680px;
}
.banner-lg{
  margin: 2vh 2vw;
}
.banner-lg img{
  width: 260px;
  padding-bottom: 10%;
}
.message {
  font-size: 13px;
  font-style: italic;
  padding: .5rem 1rem;
  color: #002395;
}
/* END LOGIN PAGE */




/* INPUT LOGIN */
.input-form-control {
  border-radius: 20px;
  width: 240px;
  border-left: none;
  border-color: #009fee;
  color: #009fee;
  font-size: 16px;
}
.input-form-control::placeholder{
  color: #009FEE
}
/* .input-form-control:focus{
  border-color: #002395;
  box-shadow: none;
} */
.input-group .input-form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control-lg {
  margin: 5px 0;
  
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group > .input-form-control{
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-group-prepend {
  margin-right: -1px;
}

.input-group-prepend .input-group-text {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: initial;
  border-right: none;
  border-color: #009FEE;
  padding: 0 10px;
  height: 38px;
}
.btn-start{
  border-width: 1px;
  border-radius: 30px;
  padding: .5rem 1rem;
  width: 100%;
  margin: 15px auto;
  margin-left: 15px;
  background-color: #009fee;
  color: white;
  border: none;
}
/* END INPUT LOGIN */

/* --------END LOGIN--------- */
.btn-back{
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1000;
}


/* ----------LEVEL PAGE----------- */

.abc-container{
  position: absolute;
  top: 0;
  left: 0;
}
.view-level{
  padding-top: 5%;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}
.view-level .news {
    position: absolute;
    top: 20px;
    right: 20px;
}
.view-level .ranking{
    width: 100%;
    display: flex;
    justify-content: center;
}
.level-container{
  position: relative;
  width: 80%;
  margin: 0 auto;
  min-width: 1100px;
}
@media screen and (max-width:1100px){
  .level-container{
    width: 100%;
    min-width: 0;
  }
}
@media screen and (max-width:768px){
  .acb-logo{
    left: 43%;
  }
}
.ranking-lg{
  width: 720px;
}
@media screen and (max-width:768px){
  .ranking-lg{
    display: none;
  }
}
.ranking-bg {
    position: absolute;
    left: 30%;
    background-color: #c9dd03;
    height: 100px;
    width: 720px;
    padding: 10px 20px;
    border-radius: 5px;
}

.ranking-sm{
    background-color: #c9dd03;
    border-radius: 5px;
    padding: 5px 7px;
    margin: 70px auto 0;
    width: 90%;
    display: none;
}
@media screen and (max-width:768px){
  .ranking-sm{
    display: block;
  }
}
.ranking-sm .ranking-item{
    border-radius: 5px;
    background-color: #fff;
    margin: 5px 0;
    width: 100%;  
    padding: 2px;
    box-shadow: 1px 2px 2px rgba(0,0,0,.2);
    font-size: 12px;
}
.ranking-sm .row{
  margin-left: 0;
  margin-right: 0;
}
.ranking-bg span {
  color: #002395;
  font-weight: bold;
}
.view-more {
    position: relative;
    float: right;
    z-index: 1000;
}
.ranking-bg a{
  color: #007bff !important;
}
.ranking-list {
    width: 670px;
    margin: 0 auto;
}
.rank-row{
  margin-left: -40px !important;
}
.ranking-item{
    color: #002395;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    text-align: center;
    width: 195px;
    padding: 7px 7px;
    margin-top: 50px;
}
.ranking-score{
  font-weight: bolder;
}
.news{
    position: absolute;
    top: 110px;
    right: 25%;
}
.new-noti{
  position: absolute;
  top: 0;
  left: 40px;
  transform: translate(-50%,-50%);
  animation: glow .5s linear 0s infinite alternate;
}
@keyframes glow {
  from {
    width: 15px;

  }
  to {
    width: 30px;
  }
}
@-webkit-keyframes glow {
  0% {
    width: 15px;
  }
  100% {
    width: 30px;
  }
}
.nhomcv{
  margin: 5vh;
}
.level-list-lga{
    width: 100%;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
}
@media screen and (max-width: 568px){
  .level-list-lga {
    display: none !important;
  }
}
.level-list-sm{
  width: 100%;
  margin: 0 auto;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  display: none;
}
.level-list-sm .col-6{
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 568px){
  .level-list-sm {
    display: flex !important;
  }
}
.level-item{
    position: relative;
    width: 20%;
    max-width: 267px;
    margin: 0 10px;
}
.level-list-sm .level-item{
    position: relative;
    width: 44%;
    height: 180px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #fff;
}
.level-bg{
    background-color: #fff;
    background-size: cover;
    background-position: top;
    width: 100%;
    max-width: 267px;
    height: 332.45px;
    padding: 15px 15px;
    cursor: pointer;
}
.level-list-sm .level-bg {
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 180px;
    padding: 10px 15px;
    cursor: pointer;
}
.level-bg:hover{
  border: 2px solid #c9dd03;
}
.level-desc{
  text-align: right;
  color: #002395
}
.level-name{
  font-size: 20px;
  font-weight: bold;  
}
.fresher{
  background-image: url("../src/assets/img/bg-fresher.png");
}
.level-list-sm .fresher{
  background-image: url("../src/assets/img/bg-fresher-sm.png");
}
.junior{
  background-image: url("../src/assets/img/bg-junior.png");
}
.level-list-sm .junior{
  background-image: url("../src/assets/img/bg-junior-sm.png");
}
.senior{
  background-image: url("../src/assets/img/bg-senior.png");
}
.level-list-sm .senior{
  background-image: url("../src/assets/img/bg-senior-sm.png");
}
.it{
  background-image: url("../src/assets/img/bg-it.png");
}
.level-list-sm .it{
  background-image: url("../src/assets/img/bg-it-sm.png");
}
.view-info-box{
  color: #009FEE;
  margin-top: 20px;
}
.view-more-info, .view-less-info{
  text-align: center;
  cursor: pointer;
}
.info-detail .title{
  color: #009FEE;
  font-size: 18px;
  font-weight: bolder;
}
.hidden {
  margin: 0 !important;
  height: 0 !important;
}
.info-detail{
  text-align: left;
  color: #001589;
  margin: 20px 0;
  overflow: hidden !important;
  height: auto;
  padding-right: 20px;
}
/* ----------END LEVEL PAGE------- */



/* -----------CHARACTER PAGE----------- */
.view-character{
  /* margin-top: 200px; */
  background-size: cover;
  position: absolute;
  width: 100%;
  background-image: url("./assets/img/bg-character.png");
  
}
.character-acb-logo img{
  width: 70px;
  position: absolute;
  top: 0;
  /* left: 15%; */
}
.character-container{
    position: relative;
    width: 80%;
    margin: 3% auto;
    color: #001589;  
}
@media screen and (orientation: portrait) and (max-width: 768px){
  .characters{
    width: 100% !important;
  }
}
@media screen and (max-width: 567px){
  .character-container{
    width: 90%;
  }
  .character-acb-logo{
    left: 50% !important;
    transform: translate(40%, 40%) !important;
    margin-top: 50px;
    padding-bottom: 2px;
  }
  .title-character{
    margin-top: 50px !important;
  }
  .character img{
    width: 100%;
  }
  .view-character .abc-icon img{
    position: absolute !important;
    bottom: -50px !important;
    left: 0% !important;
    width: 80% !important;
    max-width: 166px !important;
  }
  .btn-start-character{
    border-width: 1px;
    border-radius: 30px;
    padding: .5rem 1rem;
    width: 26% !important;
    margin: 15px auto;
    margin-left: 15px;
    background-color: #009fee;
    color: white;
    border: none;
  }
}
.title-character{
  display: block;
  padding: 5px;
  max-width: 350px;
  border: 1px solid #002395;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 7px rgba(0,0,0,.2);
  background-color: #fff;
}
.characters{
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.characters .character{
  width: 60%;
  margin: 10px;
  cursor: pointer;
}
.character-focus{
  outline: 2px solid #c9dd03;
}
.btn-start-character{
  border-width: 1px;
  border-radius: 30px;
  padding: .5rem 1rem;
  width: 6%;
  margin: 15px auto;
  margin-left: 15px;
  background-color: #009fee;
  color: white;
  border: none;
}
.view-character .abc-icon{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    max-width: 166px;
}
/* ------------END CHARACTER PAGE----------- */




/* --------------NEWS PAGE--------------------- */
.btn-back-news{
  position: absolute;
  top: 0%;
  left: 0;
  cursor: pointer;
  z-index: 1000;
}
.view-news .container{
  position: relative;
  margin-top: 70px;
}
.view-news .acb-logo{
  position: absolute;
  top: 0%;
  left: 0;
}
@media screen and (max-width:568px){
  .view-news .acb-logo{
    display: none;
  }
}
.news-title{
  font-size: 22px;
  font-weight: bold;
  color: #001589;
}
.news-post{
  margin-top: 50px;
  color: #001589;
}
.news-post .news-item{
  padding: 10px 20px 15px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  border: 2px solid #fff;
  margin-bottom: 20px;
}
.news-post .news-item:hover{
  border: 2px solid #c9dd03;
}
.news-time{
  color: #cccccc;
}
.news-thumbnail{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 50%;
  margin: 7px 0;
  background-image: url("./assets//img/thumbnail.png");
}
.descr-title{
  font-weight: 600;
}
.news-description .description{
  font-size: 11px;
}
/* --------------END NEWS PAGE---------------- */


/* ---------------RANKING PAGE----------------- */
.btn-back-ranking{
  position: absolute;
  top: 0%;
  left: 0;
  cursor: pointer;
  z-index: 1000;
}
.ranking-top{
  background-size: cover;
  background-position: bottom;
  padding: 45px 0;
  background-image: url("./assets//img/ranking-top-bg.jpg");
}
.ranking-top .container{
  position: relative;
}
.ranking-title{
  color: white;
  font-size: 22px;
}
.ranking-tab{
    width: 45%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    color: #009fda;
    padding: 3px;
    border-radius: 5px;
}
.ranking-tab-item{
  text-align: center;
  width: 50%;
  padding: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}
.tab-active{
  background-color: #c9dd03;
  color: #002395;
}
.champion-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.champion{
  width: 40%;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 568px){
  .logo-acb-ranking{
    display: none
  }
  .champion-container{
    display: block;
    width: 90%;
  }
  .champion{
    width: 100%;
  }
  .cup{
    text-align: center;
  }
  .cup img{
    width: 124px;
  }
  .sm-hidden{
    display: none
  }
}
.champion-name{
  font-size: 24px;
  font-weight: bolder;
}
.champion-sum{
  font-size: 36px;
  font-weight: bolder;
}
.ranking-body{
    position: relative;
    width: 70%;
    margin: 50px auto 150px;
    min-height: 50vh;
    left: -5px;
}
.ranking-list-item{
    display: flex;
    margin: 20px 0;
}
.ranking-list-item .position{
    color: black;
    position: relative;
    font-size: 18px;
    width: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ranking-detail{
    box-shadow: 0 0 7px rgba(0,0,0,.2);
    padding: 10px 20px;
    display: flex;
    width: 100%;
    font-size: 17px;
    color: #001589;
    font-weight: 600;
}
.ranking-detail:hover{
    box-shadow: 0 0 15px rgba(0,0,0,.2);
}
.detail-name{
    width: 60%;
}
.detail-crown{
    width: 30%;
}
.ranking-footer{
    position: fixed;
    width: 100%;
    background-color: #009fda;
    bottom: 0;
    padding: 17px 20px;
    color: #fff;
    display: flex;
    align-items: center;
}
.ranking-text-desc{
    color: #002395;
    padding-left: 7%;
}
.your-ranking-item{
    display: flex;
    margin: 0;
}
.your-pos{
  padding: 0 20px;
}
.your-name{
  color: white;
  width: 55%;
  margin-left: 20px;
}
.your-crown{
  width: 30%;
}
/*---------------END RANKING PAGE--------------- */



/* -----------------GAME PAGE--------------------*/
.game-button-back{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1000;
}
.game-acb-logo{
    width: 67px;
    position: absolute;
    top: 0%;
    left: 10%;
    margin-top: 60px;
}
.view-game .container {
  position: relative;
  margin-top: 3%;
  padding: 0;
}
.view-game .timer {
  width: 168px;
  font-size: 22px;
  color: #001589;
  background-color: #a7dcf8;
  border-radius: 55px;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}
.view-game .game-container {
  width: 80%;
  margin: 0 auto;
  padding-right: 50px;
}
.view-game .game-container .question-right {
  margin: 20px 0;
  color: #009fee;
}
.game-container .question{
  margin: 20px 0;
  color: #001589;
  font-size: 18px;
}
.view-game .game-container .answer {
  display: flex;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
}
.view-game .game-container .answer .answer-key {
  padding: 10px;
  width: 70px;
  background-color: #009fee;
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
}
.answer-key:hover{
  background-color: #001589 !important;
}
.view-game .game-container .answer .answer-detail {
  padding: 10px 50px;
  background-color: #a7dcf8;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
}
.milestone-crown{
    position: fixed;
    width: 100%;
    right: 5%;
    top: 4%;
    z-index: 3;
    width: 80px;
    text-align: center;
    -webkit-transition: bottom .5s linear;
    transition: bottom .5s linear;
}
.game-milstone{
    position: fixed;
    bottom: 3%;
    right: 5%;
    height: 100%;
    overflow: hidden;
    width: 80px;
    -webkit-transition: height .5s linear;
    transition: height .5s linear;
}
.milestone-ruler{
    position: absolute;
    width: 40px;
    bottom: 0;
    right: 135px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    height: 87vh;
    display: flex;
    background-color: #e5f6ff;
    border-radius: 30px;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.milestone-ruler-active{
    position: absolute;
    width: 40px;
    bottom: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    height: 87vh;
    display: flex;
    background-color: #002395;
    border-radius: 30px;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.milestone-ruler-active .milestone{
    text-align: center;
    padding: 0 12px;
    height: 8.5%;
    color: #fff;
}
.milestone-pointer{
    position: fixed;
    bottom: 0;
    right: 5%;
    z-index: 3;
    width: 80px;
    -webkit-transition: bottom .5s linear;
    transition: bottom .5s linear;
}
.milestone{
    text-align: center;
    padding: 0 12px;
    height: 8.5%;
}
.game-acb-icon{
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 30%;
    max-width: 166px;
}
.popup{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(167,220,248,.85);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.popup-bg{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
}
.popup-content{
    color: #001589;
    font-weight: bold;
    position: relative;
    z-index: 1;
    max-width: 850px;
    text-align: center;
    padding: 150px 150px;
    font-size: 30px;
}
.popup-link{
    margin-top: 15px;
    cursor: pointer;
}
.popup-link:hover{
  color: white
}
.popup-button{
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 45%;
}
.popup-btn-home{
    color: #009fda;
    border-radius: 50px;
    border: none;
    font-size: 22px;
    padding: 10px 40px;
    box-shadow: 0 7px 7px rgba(0,0,0,.4);
    background-color: #fff;
}
.popup-btn-home:hover{
    background-color: #009FEE;
    color: white;
}
/* ----------------END GAME PAGE---------------- */